/* Small Screen */

.container {
    background-color: #F72585;
    padding: 1rem;
    color: white;
}
.Navbar__brand {
    margin-bottom: 1rem;
}
.Navbar__list {
    list-style: none;
}
.Navbar__item {
    margin-bottom: 1rem;
}

/* Medium Screen */
@media (min-width:768px){
    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Navbar__brand {
        margin: 0;
    }
    .Navbar__list {
        display: flex;
        flex-direction: row;
    }
    
    .Navbar__item {
        margin: 0 1rem;
    }
    
}